# roles/lighthouse/templates/lighthouse.nginx.conf.j2
server {
    listen {{ nginx_listen_port }};
    server_name {{ nginx_server_name }};

    root {{ lighthouse_root }};
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
